
vendor/

# Elastic/Flod TLS client certificates
config/cert
# Oipd configuration
config/config.json
# output from floDataDump module
textComments.txt
.idea

# Build stuff
oipd
tmp/*
bin/*
build/*
.DS_Store